openapi: 3.0.3
info:
  title: FuelHub Cloud API
  description: >
    API de ingesta y consulta de cierres de turno/día, compras y tanques para las
    estaciones de servicio (grifos) del negocio. Consumida exclusivamente
    sistema-a-sistema (M2M) vía OAuth2 Client Credentials sobre Amazon Cognito —
    ver sección 5 del documento de especificación técnica (specs-cierres-grifo-backend.md).

    Convención de la API: todos los cuerpos JSON (request y response) usan
    **camelCase**. El modelo de datos interno (PostgreSQL) usa snake_case en
    español (ver sección 3) — el mapeo entre ambos ocurre en la capa
    `infrastructure/http` de cada microservicio (sección 4), nunca se expone el
    nombre de columna de la base de datos tal cual en el contrato público.
  version: "1.0.0"
  contact:
    name: FuelHub Cloud — Grupo Nonato
  license:
    name: Uso interno — no distribuir
servers:
  - url: https://api.fuelhub.cloud/v1
    description: Producción (dominio ilustrativo — reemplazar por el dominio real de API Gateway/Route53 cuando se despliegue)

tags:
  - name: cierres-turno
    description: Registro y consulta de cierres de turno (ingest-cierre-turno, consulta-cierres, consulta-cierre-detalle)
  - name: cierres-dia
    description: Registro y consulta de cierres de día (ingest-cierre-dia, consulta-cierres)
  - name: compras
    description: Registro de abastecimiento/compras (ingest-compra)
  - name: comprobantes
    description: Subida (ingest-comprobante-pdf, v1.69) y consulta (consulta-comprobante, v1.72) de comprobantes electronicos
  - name: tanques
    description: Consulta y reasignación de tanques por estación (admin-tanques) — el alta es precarga, no un endpoint (sección 3.8.4)
  - name: reportes
    description: Reportes de negocio agregados (consulta-reportes)

security:
  - cognitoM2M: []

components:
  securitySchemes:
    cognitoM2M:
      type: oauth2
      description: >
        OAuth2 Client Credentials Grant contra el User Pool de Cognito
        (sección 5.1). Cada estación tiene su propio App Client con 3 scopes:
        fuelhub-api/cierres.write, fuelhub-api/cierres.read y un scope exclusivo
        fuelhub-api/station.<CODIGO> que el Pre Token Generation Lambda (9.2.2)
        usa para derivar custom:role/custom:station_scope — esos claims no son
        scopes de autorización de API Gateway, se validan a nivel de aplicación
        (sección 5.4).
      flows:
        clientCredentials:
          tokenUrl: https://us-east-2nq1gjcb0j.auth.us-east-2.amazoncognito.com/oauth2/token
          scopes:
            fuelhub-api/cierres.write: Registrar cierres, compras y tanques
            fuelhub-api/cierres.read: Consultar cierres, tanques y reportes
            fuelhub-api/comprobantes.read: >-
              Consultar comprobantes por ruc+numeracion (v1.72) -- scope
              acotado, propio del cliente M2M de fuelhub-comprobantes, sin
              acceso a cierres/compras (principio de minimo privilegio).

  parameters:
    IdempotencyKey:
      name: Idempotency-Key
      in: header
      required: true
      description: >
        UUID v4 generado una vez por intento lógico de operación (sección 2.3).
        Reintentos con la misma key devuelven la respuesta cacheada del primer
        intento exitoso, sin repetir el efecto en la base de datos.
      schema:
        type: string
        format: uuid
      example: "b3f1c2a4-6e8d-4a3b-9c1e-2f5a7d9b0c3e"
    FechaDesde:
      name: fechaDesde
      in: query
      required: false
      description: Filtro de fecha de negocio, inicio del rango (inclusive).
      schema:
        type: string
        format: date
      example: "2026-08-01"
    FechaHasta:
      name: fechaHasta
      in: query
      required: false
      description: Filtro de fecha de negocio, fin del rango (inclusive).
      schema:
        type: string
        format: date
      example: "2026-08-31"
    EstacionCodigo:
      name: estacionCodigo
      in: query
      required: false
      description: >
        Código de estación a filtrar. Un cliente M2M solo puede consultar su
        propia estación (validado contra custom:station_scope, sección 5.4) —
        se omite o debe coincidir con la estación del token; enviar el código
        de otra estación responde 403. En `GET /reportes/dia` este parámetro
        pasa a ser condicionalmente OBLIGATORIO (400 si falta) cuando el
        token no resuelve a una única estación por sí solo (token
        multi-estación o wildcard '*') — ver la descripción de esa operación.
      schema:
        type: string
      example: "CHANCAYLLO"
    FechaNegocio:
      name: fechaNegocio
      in: query
      required: true
      description: >
        Día de negocio puntual a reportar (v1.58, `GET /reportes/dia`) — a
        diferencia de `fechaDesde`/`fechaHasta`, este reporte es siempre de
        UN solo día, no un rango.
      schema:
        type: string
        format: date
      example: "2026-08-22"
    Page:
      name: page
      in: query
      required: false
      description: Número de página, base 1.
      schema:
        type: integer
        minimum: 1
        default: 1
    PageSize:
      name: pageSize
      in: query
      required: false
      description: Cantidad de resultados por página.
      schema:
        type: integer
        minimum: 1
        maximum: 100
        default: 20

  schemas:
    Error:
      type: object
      required: [error, message]
      properties:
        error:
          type: string
          description: Código de error estable, para manejo programático.
          example: "PRODUCTO_ID_NO_RECONOCIDO"
        message:
          type: string
          description: Mensaje legible para logs/soporte — no traducir en el cliente, solo mostrar/loguear.
          example: "producto_id no reconocido — ver catálogo oficial"
        details:
          type: array
          description: Errores de validación por campo, cuando aplica (p. ej. 400 de un body con múltiples problemas).
          items:
            type: object
            properties:
              field:
                type: string
                example: "detalle[0].productoId"
              issue:
                type: string
                example: "no existe en productos_maestro o no está activo"

    Empleado:
      type: object
      required: [codigo, nombre]
      description: Operador o administrador que reporta el cierre — auto-provisioning en `usuarios` (sección 3.7).
      properties:
        codigo:
          type: string
          description: Mapea a `usuarios.usuario` — único por estación (sección 9.7).
          example: "EMP-014"
        nombre:
          type: string
          example: "Juan Pérez"

    Pago:
      type: object
      required: [medio, monto]
      properties:
        medio:
          type: string
          enum: [EFECTIVO, TARJETA, YAPE]
          description: Extensible — ver sección 3.5. Otros valores se aceptan como texto libre a nivel de columna, pero estos tres son los confirmados hoy.
        monto:
          type: number
          format: double
          minimum: 0
          example: 3100.00

    DetalleLinea:
      type: object
      required: [codigoLocal, producto, totalCantidad, totalSoles]
      description: >
        Línea de venta por producto en un cierre de turno (sección 3.9, 3.8.1.1).
        `productoId` es obligatorio solo si el producto vendido es uno de los 5
        del catálogo cruzado (sección 3.8.1); se omite para balón de gas,
        mercadito, etc.
      properties:
        productoId:
          type: string
          format: uuid
          nullable: true
          description: UUID fijo del catálogo `productos_maestro` (sección 3.8.1) — omitir si el producto no forma parte del catálogo cruzado.
          example: "e032f8dc-af1e-44a2-851d-e0e6be27a223"
        codigoLocal:
          type: string
          description: Código interno del POS de la estación — nunca se valida contra ningún catálogo.
          example: "GAS90"
        producto:
          type: string
          example: "Gasohol 90 (Regular)"
        medida:
          type: string
          example: "GAL"
        totalCantidad:
          type: number
          example: 420.500
        totalSoles:
          type: number
          example: 3153.75
        calibracionCantidad:
          type: number
          nullable: true
        calibracionSoles:
          type: number
          nullable: true
        despachoCantidad:
          type: number
          nullable: true
        despachoSoles:
          type: number
          nullable: true
        categoria:
          type: string
          enum: [COMBUSTIBLE, NO_COMBUSTIBLE]
          nullable: true
          description: >
            Clasificación combustible/no-combustible (sección 3.8.1/3.8.2, v1.58).
            OPCIONAL. Si la línea trae `productoId`, el servidor SIEMPRE resuelve
            la categoría desde el catálogo (`productos_maestro`) e ignora este
            campo. Solo tiene efecto real cuando no se envía `productoId`: ahí es
            recomendable enviarla explícita — sin este dato, esa línea queda "sin
            clasificar" (null) en los reportes que distinguen ambas categorías.

    CierreTurnoInput:
      type: object
      required: [codigoEstacion, turno, fechaNegocio, fechaInicio, fecha, total, empleado, pagos, detalle]
      properties:
        codigoEstacion:
          type: string
          description: Se resuelve a `estacion_id` y se valida contra `custom:station_scope` del JWT (sección 5.4).
          example: "CHANCAYLLO"
        isla:
          type: string
          nullable: true
          example: "ISLA-1"
        turno:
          type: string
          enum: [TURNO1, TURNO2, TURNO3]
        fechaNegocio:
          type: string
          format: date
          example: "2026-08-22"
        fechaInicio:
          type: string
          format: date-time
          description: Hora real de ingreso del operador — requerido, debe ser anterior a `fecha` (sección 3.4.2).
          example: "2026-08-22T06:00:00-05:00"
        fecha:
          type: string
          format: date-time
          description: Hora real de cierre/salida del operador.
          example: "2026-08-22T14:05:00-05:00"
        total:
          type: number
          example: 4820.50
        facturasEmitidas:
          type: integer
          default: 0
          description: Indicador anti-fraude (sección 3.4.1).
        empleado:
          $ref: '#/components/schemas/Empleado'
        pagos:
          type: array
          minItems: 1
          items:
            $ref: '#/components/schemas/Pago'
        detalle:
          type: array
          minItems: 1
          items:
            $ref: '#/components/schemas/DetalleLinea'

    CierreTurnoResumen:
      type: object
      description: Forma resumida usada en listados (GET /cierres-turno) — sin `detalle`/`pagos` completos.
      properties:
        id:
          type: string
          format: uuid
        codigoEstacion:
          type: string
        isla:
          type: string
          nullable: true
        turno:
          type: string
          enum: [TURNO1, TURNO2, TURNO3]
        fechaNegocio:
          type: string
          format: date
        fechaInicio:
          type: string
          format: date-time
        fecha:
          type: string
          format: date-time
        total:
          type: number
        estado:
          type: string
          enum: [ACTIVO, ANULADO]
        empleado:
          $ref: '#/components/schemas/Empleado'
        recibidoEn:
          type: string
          format: date-time

    CierreTurnoDetalleCompleto:
      description: Forma completa usada en GET /cierres-turno/{id}.
      allOf:
        - $ref: '#/components/schemas/CierreTurnoResumen'
        - type: object
          properties:
            cierreDiaId:
              type: string
              format: uuid
              nullable: true
            facturasEmitidas:
              type: integer
            clienteOrigen:
              type: string
              description: client_id de Cognito que envió el cierre (sección 3.10).
            pagos:
              type: array
              items:
                $ref: '#/components/schemas/Pago'
            detalle:
              type: array
              items:
                $ref: '#/components/schemas/DetalleLinea'

    CierreDiaInput:
      type: object
      required: [codigoEstacion, fechaNegocio, fecha, total, administrador, cierresTurnoIds]
      properties:
        codigoEstacion:
          type: string
          example: "CHANCAYLLO"
        isla:
          type: string
          nullable: true
        fechaNegocio:
          type: string
          format: date
        fecha:
          type: string
          format: date-time
        total:
          type: number
        administrador:
          allOf:
            - $ref: '#/components/schemas/Empleado'
          description: Se auto-provisiona en `usuarios` con `rol = ADMINISTRADOR` (sección 3.7.1) — distinto del operador de cada turno.
        cierresTurnoIds:
          type: array
          minItems: 1
          items:
            type: string
            format: uuid
          description: >
            IDs de los `cierres_turno` (los que devolvió cada `POST
            /cierres-turno` del día) que este cierre de día está cerrando
            (v1.76). Vincula explícitamente cada turno con este cierre de
            día en vez de inferirlo por `fechaNegocio` — esa inferencia es
            ambigua cuando hay más de un cierre de día para la misma
            estación+fecha. Todos los ids deben existir, pertenecer a
            `codigoEstacion`, estar `ACTIVO` y no tener ya un cierre de día
            asignado; si alguno no matchea, se rechaza el cierre de día
            completo (400) y no se graba nada.

    CierreDiaResumen:
      type: object
      properties:
        id:
          type: string
          format: uuid
        codigoEstacion:
          type: string
        isla:
          type: string
          nullable: true
        fechaNegocio:
          type: string
          format: date
        fecha:
          type: string
          format: date-time
        total:
          type: number
        estado:
          type: string
          enum: [ACTIVO, ANULADO]
        administrador:
          $ref: '#/components/schemas/Empleado'
        recibidoEn:
          type: string
          format: date-time

    CompraDestino:
      type: object
      description: >
        Un destino de compra es EXACTAMENTE uno de dos casos (v1.70, nunca
        ambos, nunca ninguno): reparto físico a un tanque puntual (`tanqueId`,
        v1.65 -- el tanque puede pertenecer a una estación DISTINTA a
        `codigoEstacion` de la compra, contingencia real: se factura a una
        estación pero parte del combustible va físicamente a otra), o una
        entrega externa en texto libre (`descripcionEntrega`, v1.70 --
        reventa a terceros o venta al menudeo a granel fuera de los grifos
        registrados, sin catálogo de clientes). Una misma compra puede tener
        varios destinos de ambos tipos combinados. Aplica igual a compras de
        combustible y de mercadería.
      required: [cantidad]
      properties:
        tanqueId:
          type: string
          format: uuid
          description: Tanque registrado destino del reparto. Mutuamente excluyente con `descripcionEntrega` (v1.70).
        descripcionEntrega:
          type: string
          description: >
            Texto libre para una entrega externa (reventa, venta al menudeo a
            granel) -- v1.70. Mutuamente excluyente con `tanqueId`.
          example: "Venta al menudeo -- camion placa ABC-123"
        cantidad:
          type: number
          description: En la unidad de `productos_maestro.medida` del producto comprado (GAL o LT) -- sección 3.3.
          example: 480.000

    CompraInput:
      type: object
      required: [codigoEstacion, fecha, cantidad, costoUnitario]
      properties:
        codigoEstacion:
          type: string
          description: Estación a cuyo RUC/factura corresponde la compra (sección 3.8.1).
          example: "CHANCAYLLO"
        productoId:
          type: string
          format: uuid
          nullable: true
          description: >
            Opcional desde v1.65. Presente para combustible del catálogo
            cruzado (sección 3.8.1); ausente para compras fuera de catálogo
            (mercadería de tienda) -- en ese caso `productoNombre` y
            `categoria` pasan a ser obligatorios.
          example: "f7ec806f-0e5c-4949-8110-b48469fd3ecf"
        productoNombre:
          type: string
          nullable: true
          description: >
            Obligatorio SOLO cuando no se manda `productoId` (v1.65). Con
            `productoId`, es opcional -- si se omite, se usa el nombre del
            catálogo.
          example: "Galletas surtidas"
        categoria:
          type: string
          enum: [COMBUSTIBLE, NO_COMBUSTIBLE]
          nullable: true
          description: >
            Obligatorio SOLO cuando no se manda `productoId` (v1.65). Con
            `productoId`, el catálogo manda y este campo se ignora si se manda.
        proveedor:
          type: string
          nullable: true
        fecha:
          type: string
          format: date-time
        cantidad:
          type: number
          description: Total comprado, según factura -- en la unidad de `productos_maestro.medida` del producto (GAL o LT) -- sección 3.3.
          example: 3000.000
        costoUnitario:
          type: number
          example: 14.250
        numeroGuia:
          type: string
          nullable: true
        destinos:
          type: array
          description: >
            Reparto físico a tanques (v1.65) -- reemplaza el `tanqueId` suelto
            de versiones anteriores. Ausente/vacío = compra sin tanque asociado
            (p. ej. mercadería). La suma de `destinos[].cantidad` puede ser
            MENOR que `cantidad` (la diferencia es merma real, no un error) pero
            nunca MAYOR (se rechaza con `400`).
          items:
            $ref: '#/components/schemas/CompraDestino'

    CompraResumen:
      type: object
      description: >
        Forma resumida usada en el listado (GET /compras, v1.67) -- igual que
        CompraOutput pero SIN `destinos[]` (mismo criterio que
        CierreTurnoResumen frente a CierreTurnoDetalleCompleto). El detalle
        completo, con destinos[], se pide aparte con GET /compras/{id}.
      properties:
        id:
          type: string
          format: uuid
        codigoEstacion:
          type: string
        productoId:
          type: string
          format: uuid
          nullable: true
        productoNombre:
          type: string
        categoria:
          type: string
          enum: [COMBUSTIBLE, NO_COMBUSTIBLE]
          nullable: true
        proveedor:
          type: string
          nullable: true
        fecha:
          type: string
          format: date-time
        cantidad:
          type: number
        costoUnitario:
          type: number
        costoTotal:
          type: number
        numeroGuia:
          type: string
          nullable: true
        merma:
          type: number
          nullable: true
        estado:
          type: string
          enum: [ACTIVO, ANULADO, PENDIENTE_REVISION]
        creadoEn:
          type: string
          format: date-time

    CompraOutput:
      type: object
      properties:
        id:
          type: string
          format: uuid
        codigoEstacion:
          type: string
        productoId:
          type: string
          format: uuid
          nullable: true
        productoNombre:
          type: string
        categoria:
          type: string
          enum: [COMBUSTIBLE, NO_COMBUSTIBLE]
          nullable: true
        proveedor:
          type: string
          nullable: true
        fecha:
          type: string
          format: date-time
        cantidad:
          type: number
        costoUnitario:
          type: number
        costoTotal:
          type: number
          description: Columna generada (`cantidad * costoUnitario`) -- sección 3.3.
        numeroGuia:
          type: string
          nullable: true
        destinos:
          type: array
          items:
            $ref: '#/components/schemas/CompraDestino'
        merma:
          type: number
          nullable: true
          description: >
            `cantidad - suma(destinos[].cantidad)` (v1.65) -- `null` si la
            compra no trajo `destinos` (p. ej. mercadería sin tanque).
        estado:
          type: string
          enum: [ACTIVO, ANULADO, PENDIENTE_REVISION]
          description: >
            v1.66 -- por defecto `ACTIVO` al crear. `PUT /compras/{id}` es el
            único endpoint del contrato que hoy transiciona ACTIVO -> ANULADO
            (anulación, no borrado físico -- sección 3.8.6).
        creadoEn:
          type: string
          format: date-time

    CompraUpdateInput:
      type: object
      description: >
        PUT parcial (v1.66) -- al menos un campo debe estar presente. Mismo
        criterio de "catálogo manda la categoría" que `CompraInput`: si
        `productoId` se manda como `null` (pasar a mercadería) o la compra ya
        era mercadería, `productoNombre`/`categoria` se pueden editar; si la
        compra sigue ligada a catálogo, `categoria` se ignora en silencio.
        Cuando se manda `destinos`, REEMPLAZA por completo el reparto anterior
        (no hace upsert fila por fila) y su suma se valida contra la `cantidad`
        vigente de la compra (la nueva, si también se manda en este mismo PUT).
      properties:
        productoId:
          type: string
          format: uuid
          nullable: true
        productoNombre:
          type: string
        categoria:
          type: string
          enum: [COMBUSTIBLE, NO_COMBUSTIBLE]
          nullable: true
        proveedor:
          type: string
          nullable: true
        fecha:
          type: string
          format: date-time
        cantidad:
          type: number
        costoUnitario:
          type: number
        numeroGuia:
          type: string
          nullable: true
        destinos:
          type: array
          items:
            $ref: '#/components/schemas/CompraDestino'
        estado:
          type: string
          enum: [ACTIVO, ANULADO]
          description: Anular (o reactivar) la compra -- sección 3.8.6.

    ComprobanteConsulta:
      type: object
      description: Respuesta de GET /comprobantes/{numeracion} (v1.72) -- ver descripcion del path para el detalle de que campos son siempre presentes vs. opcionales.
      properties:
        ruc:
          type: string
          example: '20123456789'
        numeracion:
          type: string
          example: F001-000123
        serie:
          type: string
          description: Derivado de numeracion.
          example: F001
        correlativo:
          type: string
          description: Derivado de numeracion.
          example: '000123'
        tipoComprobante:
          type: string
          enum: [FACTURA, BOLETA, DESCONOCIDO]
          description: Heuristica por primera letra de la serie (F/B) -- ver nota en ConsultaComprobanteInput.ts.
        urlPdf:
          type: string
          format: uri
          description: URL presignada de S3, valida por expiraEnSegundos.
        urlXml:
          type: string
          format: uri
          nullable: true
          description: Solo presente si fuelhub-facturador ya subio el XML bajo el mismo prefijo (pendiente, no implementado todavia).
        urlCdr:
          type: string
          format: uri
          nullable: true
          description: Solo presente si fuelhub-facturador ya subio el CDR de SUNAT bajo el mismo prefijo (pendiente, no implementado todavia).
        expiraEnSegundos:
          type: integer
          example: 300
        fechaEmision:
          type: string
          format: date
          nullable: true
          description: Solo presente si PUT .../pdf la recibio (metadata opcional, v1.72).
        importeTotal:
          type: number
          format: double
          nullable: true
        moneda:
          type: string
          enum: [PEN, USD]
          nullable: true
        estadoSunat:
          type: string
          nullable: true

    TanqueUpdateInput:
      type: object
      description: >
        PUT parcial — típicamente usado para reasignar `productoId` cuando el
        tanque cambia de producto según demanda (sección 3.8.3), pero también
        permite ajustar capacidad/stock mínimo/estado.
      properties:
        productoId:
          type: string
          format: uuid
          description: Si cambia respecto al valor actual, el backend actualiza `producto_asignado_en` a la hora del request (sección 3.3).
        capacidad:
          type: number
        stockMinimo:
          type: number
          nullable: true
        activo:
          type: boolean

    TanqueOutput:
      type: object
      description: >
        Los tanques se precargan por estación (sección 3.8.4) — no hay
        `TanqueInput`/`POST /tanques` en este contrato, solo lectura
        (`GET /tanques`) y actualización (`PUT /tanques/{id}`).
      properties:
        id:
          type: string
          format: uuid
        codigoEstacion:
          type: string
          example: "CHANCAYLLO"
        productoId:
          type: string
          format: uuid
          example: "f7ec806f-0e5c-4949-8110-b48469fd3ecf"
        nombre:
          type: string
          example: "Tanque 1"
        capacidad:
          type: number
          description: En la unidad de `productos_maestro.medida` del producto asignado.
          example: 10000.00
        stockMinimo:
          type: number
          nullable: true
        productoAsignadoEn:
          type: string
          format: date-time
        activo:
          type: boolean
        creadoEn:
          type: string
          format: date-time

    ReporteMargenItem:
      type: object
      description: Fila del reporte de margen por sede (sección 3.8.2.b).
      properties:
        estacion:
          type: string
        ingresosTotales:
          type: number
        costoVentasEstimado:
          type: number
        margenEstimado:
          type: number

    ReporteAbastecimientoItem:
      type: object
      description: Fila del reporte de autonomía vs. frecuencia real de abastecimiento (sección 3.8.2.c).
      properties:
        estacion:
          type: string
        tanque:
          type: string
        producto:
          type: string
        capacidad:
          type: number
        ventaPromedioDiaria:
          type: number
          nullable: true
        diasDeAutonomiaEstimados:
          type: number
          nullable: true
        frecuenciaRealDias:
          type: number
          nullable: true
        enRiesgo:
          type: boolean
          description: true cuando frecuenciaRealDias > diasDeAutonomiaEstimados (sección 3.8.2.c).

    ReporteDiaProducto:
      type: object
      description: Fila por producto dentro de `ReporteDia` (v1.58).
      properties:
        productoId:
          type: string
          format: uuid
          nullable: true
          description: null para líneas sin producto de catálogo (balón de gas, mercadito, etc. — sección 3.8.1.1).
        producto:
          type: string
        categoria:
          type: string
          enum: [COMBUSTIBLE, NO_COMBUSTIBLE]
          nullable: true
          description: >
            null = "sin clasificar" — línea sin productoId cuyo cliente
            tampoco mandó categoria explícita al registrar el cierre de
            turno. No es un valor adivinado; ver totalSinClasificar en
            ReporteDia.
        cantidadVendida:
          type: number
        ingresos:
          type: number

    ReporteDia:
      type: object
      description: >
        Reporte de un día puntual de una estación (v1.58) — separa
        combustible de no-combustible, campo que exige el contrato de
        integración con el servicio de notificaciones de WhatsApp (evento
        `CierreDiaRegistrado`, sección 4.1).
      properties:
        estacionCodigo:
          type: string
        fechaNegocio:
          type: string
          format: date
        cierreDiaId:
          type: string
          format: uuid
          description: Mismo id que trae el evento CierreDiaRegistrado para este día.
        total:
          type: number
          description: cierres_dia.total — el total que reportó el POS al cerrar el día, no un cálculo derivado de detalle.
        totalCombustible:
          type: number
        totalNoCombustible:
          type: number
        totalSinClasificar:
          type: number
          description: Suma de las líneas con categoria null — nunca se reparte a combustible/no-combustible por defecto.
        productos:
          type: array
          items:
            $ref: '#/components/schemas/ReporteDiaProducto'

    ReporteDiaDocumento:
      type: object
      description: Respuesta de GET /reportes/dia/documento (v1.60) — contrato acordado con notificaciones-whatsapp.
      required: [url, tipo, expiraEn]
      properties:
        url:
          type: string
          format: uri
          description: URL firmada de S3, descargable sin autenticación adicional. Válida por "expiraEn" segundos desde el momento de esta respuesta.
        tipo:
          type: string
          enum: [application/pdf]
          description: Content-Type real del archivo en la URL.
        expiraEn:
          type: integer
          description: Segundos de validez de la URL firmada desde el momento de esta respuesta.
          example: 600

    Paginacion:
      type: object
      properties:
        page:
          type: integer
        pageSize:
          type: integer
        totalItems:
          type: integer
        totalPages:
          type: integer

  responses:
    BadRequest:
      description: Validación de negocio o de esquema fallida (turno inválido, fecha <= fechaInicio, productoId no reconocido, etc. — sección 3.9/3.8.1).
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/Error'
    Unauthorized:
      description: Token ausente, expirado o inválido.
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/Error'
    Forbidden:
      description: >
        Token válido pero sin el scope requerido, o `codigoEstacion`/`estacionCodigo`
        del payload/query no coincide con `custom:station_scope` del token
        (sección 5.4) — nunca se confía en que el payload diga la verdad por sí solo.
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/Error'
    Conflict:
      description: >
        `Idempotency-Key` reutilizada con un body distinto al del primer intento
        (colisión real, no un reintento legítimo — sección 2.3), o violación de
        una restricción única (p. ej. `usuario` ya existe en otra estación, sección 3.7).
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/Error'
    NotFound:
      description: Recurso no encontrado.
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/Error'

paths:
  /cierres-turno:
    post:
      tags: [cierres-turno]
      summary: Registrar un cierre de turno
      description: Idempotente vía header `Idempotency-Key` (sección 2.3). Lambda `ingest-cierre-turno`.
      operationId: registrarCierreTurno
      x-required-scope: fuelhub-api/cierres.write
      parameters:
        - $ref: '#/components/parameters/IdempotencyKey'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CierreTurnoInput'
      responses:
        '201':
          description: Cierre de turno registrado.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CierreTurnoDetalleCompleto'
        '200':
          description: Reintento con la misma `Idempotency-Key` — devuelve la respuesta cacheada del primer intento (sección 2.3), sin volver a insertar.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CierreTurnoDetalleCompleto'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '409':
          $ref: '#/components/responses/Conflict'
    get:
      tags: [cierres-turno]
      summary: Listar/consultar cierres de turno
      description: >
        Filtros por estación, rango de fechas y demás (sección 3.4 — incluye
        "quiénes trabajaron el día X"). Lambda `consulta-cierres`.
      operationId: listarCierresTurno
      x-required-scope: fuelhub-api/cierres.read
      parameters:
        - $ref: '#/components/parameters/EstacionCodigo'
        - $ref: '#/components/parameters/FechaDesde'
        - $ref: '#/components/parameters/FechaHasta'
        - name: turno
          in: query
          required: false
          schema:
            type: string
            enum: [TURNO1, TURNO2, TURNO3]
        - name: usuarioCodigo
          in: query
          required: false
          description: Filtra por `empleado.codigo` — para "quién trabajó el día X" (sección 3.4).
          schema:
            type: string
        - name: estado
          in: query
          required: false
          schema:
            type: string
            enum: [ACTIVO, ANULADO]
            default: ACTIVO
        - $ref: '#/components/parameters/Page'
        - $ref: '#/components/parameters/PageSize'
      responses:
        '200':
          description: Listado paginado.
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    type: array
                    items:
                      $ref: '#/components/schemas/CierreTurnoResumen'
                  pagination:
                    $ref: '#/components/schemas/Paginacion'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'

  /cierres-turno/{id}:
    get:
      tags: [cierres-turno]
      summary: Detalle de un cierre de turno
      description: Incluye `pagos[]` y `detalle[]` completos. Lambda `consulta-cierre-detalle`.
      operationId: obtenerCierreTurno
      x-required-scope: fuelhub-api/cierres.read
      parameters:
        - name: id
          in: path
          required: true
          schema:
            type: string
            format: uuid
      responses:
        '200':
          description: Detalle del cierre.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CierreTurnoDetalleCompleto'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'

  /cierres-dia:
    post:
      tags: [cierres-dia]
      summary: Registrar un cierre de día
      description: >
        Idempotente igual que cierres-turno (sección 2.3). Tras el INSERT exitoso,
        publica el evento `CierreDiaRegistrado` a EventBridge (sección 4.1) para el
        servicio independiente de notificaciones. Lambda `ingest-cierre-dia`.
      operationId: registrarCierreDia
      x-required-scope: fuelhub-api/cierres.write
      parameters:
        - $ref: '#/components/parameters/IdempotencyKey'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CierreDiaInput'
      responses:
        '201':
          description: Cierre de día registrado.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CierreDiaResumen'
        '200':
          description: Reintento con la misma `Idempotency-Key` — respuesta cacheada.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CierreDiaResumen'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '409':
          $ref: '#/components/responses/Conflict'
    get:
      tags: [cierres-dia]
      summary: Listar/consultar cierres de día
      operationId: listarCierresDia
      x-required-scope: fuelhub-api/cierres.read
      parameters:
        - $ref: '#/components/parameters/EstacionCodigo'
        - $ref: '#/components/parameters/FechaDesde'
        - $ref: '#/components/parameters/FechaHasta'
        - name: estado
          in: query
          required: false
          schema:
            type: string
            enum: [ACTIVO, ANULADO]
            default: ACTIVO
        - $ref: '#/components/parameters/Page'
        - $ref: '#/components/parameters/PageSize'
      responses:
        '200':
          description: Listado paginado.
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    type: array
                    items:
                      $ref: '#/components/schemas/CierreDiaResumen'
                  pagination:
                    $ref: '#/components/schemas/Paginacion'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'

  /compras:
    post:
      tags: [compras]
      summary: Registrar una compra/abastecimiento
      description: >
        No es idempotente por header (bajo volumen, sin reintentos automáticos
        esperados). Desde v1.65, `productoId` es opcional (compras fuera del
        catálogo cruzado -- mercadería de tienda -- mandan `productoNombre` +
        `categoria` en su lugar) y el reparto físico a tanques se declara en
        `destinos[]`, que puede sumar menos que `cantidad` (la diferencia es
        merma real). Lambda `ingest-compra`.
      operationId: registrarCompra
      x-required-scope: fuelhub-api/cierres.write
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CompraInput'
      responses:
        '201':
          description: Compra registrada.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CompraOutput'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
    get:
      tags: [compras]
      summary: Listar/filtrar compras
      description: >
        v1.67 -- gap identificado al construir el frontend de gestión
        (specs-frontend-fuelhub-web.md, sección 8.1): sin esto, el CRUD de
        compras no tenía forma de listar/buscar. `merma`/`estado` vienen
        calculados igual que en `POST`/`PUT /compras/{id}`. Lambda
        `ingest-compra` (comparte función con el resto de operaciones de
        `/compras`). v1.82.2 -- `estado` dejó de tener un
        default implícito ('ACTIVO'); sin el parámetro, retorna cualquier
        estado.
      operationId: listarCompras
      x-required-scope: fuelhub-api/cierres.read
      parameters:
        - $ref: '#/components/parameters/EstacionCodigo'
        - $ref: '#/components/parameters/FechaDesde'
        - $ref: '#/components/parameters/FechaHasta'
        - name: estado
          in: query
          required: false
          description: >
            Sin este parámetro (v1.82.2), devuelve compras en CUALQUIER
            estado (ACTIVO, ANULADO, PENDIENTE_REVISION) -- antes de este
            cambio el default implícito era ACTIVO. Para un estado puntual,
            pedirlo explícito.
          schema:
            type: string
            enum: [ACTIVO, ANULADO, PENDIENTE_REVISION]
        - name: productoId
          in: query
          required: false
          schema:
            type: string
            format: uuid
        - name: categoria
          in: query
          required: false
          schema:
            type: string
            enum: [COMBUSTIBLE, NO_COMBUSTIBLE]
        - $ref: '#/components/parameters/Page'
        - $ref: '#/components/parameters/PageSize'
      responses:
        '200':
          description: Listado paginado.
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    type: array
                    items:
                      $ref: '#/components/schemas/CompraResumen'
                  pagination:
                    $ref: '#/components/schemas/Paginacion'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'

  /compras/{id}:
    get:
      tags: [compras]
      summary: Detalle de una compra
      description: >
        v1.67 -- incluye `destinos[]` completo (a diferencia de `CompraResumen`
        del listado). Reusa la misma consulta que ya usaba internamente
        `PUT /compras/{id}` desde v1.66 para precargar el registro antes de
        aplicar los cambios -- acá se expone como lectura pública. Lambda
        `ingest-compra`.
      operationId: obtenerCompra
      x-required-scope: fuelhub-api/cierres.read
      parameters:
        - name: id
          in: path
          required: true
          schema:
            type: string
            format: uuid
      responses:
        '200':
          description: Detalle de la compra.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CompraOutput'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
    put:
      tags: [compras]
      summary: Editar o anular una compra (PUT parcial)
      description: >
        v1.66 -- edita cabecera y/o reemplaza por completo el reparto a
        tanques (`destinos[]`), y también anula la compra (`estado:
        ANULADO`) en el mismo PUT parcial -- mismo criterio que
        `PUT /tanques/{id}` usa para `activo`. No hay borrado físico. Lambda
        `ingest-compra` (comparte función con `POST /compras`).
      operationId: actualizarCompra
      x-required-scope: fuelhub-api/cierres.write
      parameters:
        - name: id
          in: path
          required: true
          schema:
            type: string
            format: uuid
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CompraUpdateInput'
      responses:
        '200':
          description: Compra actualizada.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CompraOutput'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'

  /comprobantes/{numeracion}/pdf:
    put:
      tags: [comprobantes]
      summary: Subir el PDF de un comprobante
      description: >
        v1.69 -- sube (o reemplaza) el PDF ya generado del comprobante a S3.
        Idempotente de forma natural -- subir el mismo PDF dos veces pisa el
        mismo objeto, sin necesidad de Idempotency-Key. Reusa a propósito el
        scope `cierres.write` (no uno propio de comprobantes) para funcionar
        de inmediato con las credenciales M2M que `fuelhub-facturador` ya
        tiene en producción. Lambda `ingest-comprobante-pdf`. La key de S3
        se arma como `{ruc}/{numeracion}.pdf` -- ver
        specs-cierres-grifo-backend.md sección 3.8.9 para el detalle
        completo y el plan de XML/CDR (pendiente, no implementado en esta
        entrada).
      operationId: subirComprobantePdf
      x-required-scope: fuelhub-api/cierres.write
      parameters:
        - name: numeracion
          in: path
          required: true
          schema:
            type: string
          example: F001-000123
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [codigoEstacion, ruc, contentBase64]
              properties:
                codigoEstacion:
                  type: string
                  description: Validado contra custom:station_scope del token (sección 5.4) -- nunca se confía en el payload por sí solo.
                ruc:
                  type: string
                  description: RUC (11 dígitos) del emisor del comprobante -- junto con `numeracion` (serie-correlativo) arma la key de S3, para poder ubicar comprobantes por el criterio combinado ruc-serie-correlativo.
                  example: '20123456789'
                contentBase64:
                  type: string
                  description: PDF completo codificado en base64. Máximo 7 MB decodificados (~9.3 MB en base64, dentro del límite duro de 10 MB de payload de API Gateway REST).
                fechaEmision:
                  type: string
                  format: date
                  description: >-
                    Opcional (v1.72) -- fuelhub-facturador todavía no lo manda.
                    Si viene, queda disponible para GET /comprobantes/{numeracion}.
                  example: '2026-09-10'
                importeTotal:
                  type: number
                  format: double
                  minimum: 0
                  description: Opcional (v1.72), igual que fechaEmision.
                  example: 125.50
                moneda:
                  type: string
                  enum: [PEN, USD]
                  description: Opcional (v1.72), igual que fechaEmision.
                  example: PEN
                estadoSunat:
                  type: string
                  description: Opcional (v1.72), igual que fechaEmision. Texto libre (p. ej. "ACEPTADO").
                  example: ACEPTADO
      responses:
        '201':
          description: PDF subido.
          content:
            application/json:
              schema:
                type: object
                properties:
                  codigoEstacion:
                    type: string
                  numeracion:
                    type: string
                  key:
                    type: string
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'

  /comprobantes/{numeracion}:
    get:
      tags: [comprobantes]
      summary: Buscar un comprobante por ruc + numeracion
      description: >
        v1.72 -- Lambda de lectura (consulta-comprobante), de cara al cliente
        final (proyecto fuelhub-comprobantes, sin login). Busca
        `{ruc}/{numeracion}.pdf` en el bucket de comprobantes; si existe,
        devuelve una URL presignada de 5 minutos (y, oportunistamente,
        `urlXml`/`urlCdr` si esos archivos ya existen bajo el mismo prefijo
        -- pendiente que fuelhub-facturador los suba, ver
        specs-cierres-grifo-backend.md sección 3.8.9/3.8.11). `serie`,
        `correlativo` y `tipoComprobante` se derivan de `numeracion`
        (heurística por primera letra: F=FACTURA, B=BOLETA). `fechaEmision`/
        `importeTotal`/`moneda`/`estadoSunat` solo vienen si
        `PUT .../pdf` los recibió (metadata opcional, v1.72). Scope propio y
        acotado, sin acceso a cierres/compras.
      operationId: consultarComprobante
      x-required-scope: fuelhub-api/comprobantes.read
      parameters:
        - name: numeracion
          in: path
          required: true
          schema:
            type: string
          example: F001-000123
        - name: ruc
          in: query
          required: true
          description: RUC (11 dígitos) del emisor -- junto con numeracion arma la key de S3.
          schema:
            type: string
          example: '20123456789'
      responses:
        '200':
          description: Comprobante encontrado.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ComprobanteConsulta'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '404':
          $ref: '#/components/responses/NotFound'

  /tanques:
    get:
      tags: [tanques]
      summary: Listar tanques de una estación
      operationId: listarTanques
      x-required-scope: fuelhub-api/cierres.read
      parameters:
        - $ref: '#/components/parameters/EstacionCodigo'
      responses:
        '200':
          description: Listado de tanques.
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/TanqueOutput'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'

  /tanques/{id}:
    put:
      tags: [tanques]
      summary: Actualizar un tanque (incluye reasignación de producto)
      description: >
        Usado en particular para reasignar `productoId` cuando el tanque cambia
        de producto según demanda (sección 3.8.3) — el backend actualiza
        `producto_asignado_en` automáticamente cuando `productoId` cambia.
        Lambda `admin-tanques`.
      operationId: actualizarTanque
      x-required-scope: fuelhub-api/cierres.write
      parameters:
        - name: id
          in: path
          required: true
          schema:
            type: string
            format: uuid
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/TanqueUpdateInput'
      responses:
        '200':
          description: Tanque actualizado.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/TanqueOutput'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'

  /reportes/dia:
    get:
      tags: [reportes]
      summary: Reporte de un día puntual de una estación (combustible vs. no-combustible)
      description: >
        v1.58 — separa totalCombustible/totalNoCombustible por producto,
        pensado para el servicio de notificaciones de WhatsApp reaccionando
        al evento CierreDiaRegistrado (sección 4.1). A diferencia de los
        otros 2 reportes, estacionCodigo es OBLIGATORIO cuando el token no
        resuelve a una única estación por sí solo (token multi-estación o
        wildcard '*') — con un token de una sola estación puede omitirse.
        Lambda `consulta-reportes`.
      operationId: obtenerReporteDia
      x-required-scope: fuelhub-api/cierres.read
      parameters:
        - $ref: '#/components/parameters/FechaNegocio'
        - $ref: '#/components/parameters/EstacionCodigo'
      responses:
        '200':
          description: Reporte del día para la estación resuelta.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ReporteDia'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          description: No existe un cierre de día ACTIVO para esa estación y fecha (día aún no cerrado, o anulado).
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'

  /reportes/dia/documento:
    get:
      tags: [reportes]
      summary: Reporte de un día como PDF descargable (uso M2M, notificaciones por WhatsApp)
      description: >
        v1.60 — variante de GET /reportes/dia pensada para
        `notificaciones-whatsapp`: en vez de JSON, devuelve una URL firmada
        de S3 al PDF. Con `estacionCodigo` puntual (o un token de una sola
        estación que lo omite), el PDF es el reporte de esa estación sola.
        Sin `estacionCodigo` y con un token wildcard ("*" — hoy solo el App
        Client `fuelhub-notificaciones-whatsapp`), el PDF es el CONSOLIDADO
        de todas las estaciones activas del grupo. La URL devuelta no
        requiere autenticación adicional para descargarla y expira a los
        `expiraEn` segundos. Lambda separado (`consulta-reportes`,
        `handler-documento.ts`).

        v1.78 — el PDF YA NO se genera en este request: se genera una sola
        vez, apenas se registra el cierre de día (evento
        `CierreDiaRegistrado`), y este endpoint solo sirve la URL firmada
        de S3. Si el PDF todavía no existe (llega antes de que termine de
        generarse, o es un cierre de día anterior a v1.78, sin backfill),
        responde `404`. Además, el CONSOLIDADO deja de poder acotarse por
        token: ahora es un único archivo por fecha con TODAS las estaciones
        activas, así que un token multi-estación explícito (no wildcard)
        que omita `estacionCodigo` recibe `403` en vez de un consolidado
        recortado a su alcance (caso hoy teórico — ningún App Client real
        tiene más de una estación en su scope salvo el wildcard).
      operationId: obtenerReporteDiaDocumento
      x-required-scope: fuelhub-api/cierres.read
      parameters:
        - $ref: '#/components/parameters/FechaNegocio'
        - name: estacionCodigo
          in: query
          required: false
          description: >
            Igual que en GET /reportes/dia, pero acá omitirlo con un token
            wildcard NO es un error: resuelve al PDF CONSOLIDADO de todas
            las estaciones activas del grupo, en vez de un 400 (v1.78 —
            omitirlo con un token multi-estación explícito, no wildcard, sí
            es un 403 — ver la descripción del endpoint).
          schema:
            type: string
          example: "CHANCAYLLO"
      responses:
        '200':
          description: URL firmada al PDF pre-generado (individual o CONSOLIDADO, según el caso — ver la descripción de arriba).
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ReporteDiaDocumento'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          description: No existe ningún cierre de día ACTIVO para esa fecha (ni para la estación puntual, ni para ninguna de las estaciones del token en el caso consolidado).
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'

  /reportes/margen:
    get:
      tags: [reportes]
      summary: Margen estimado por sede
      description: Sección 3.8.2.b — costo promedio ponderado de compras del período vs. ingresos por despacho. Lambda `consulta-reportes`.
      operationId: obtenerReporteMargen
      x-required-scope: fuelhub-api/cierres.read
      parameters:
        - $ref: '#/components/parameters/FechaDesde'
        - $ref: '#/components/parameters/FechaHasta'
        - $ref: '#/components/parameters/EstacionCodigo'
      responses:
        '200':
          description: Reporte de margen por estación.
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/ReporteMargenItem'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'

  /reportes/abastecimiento:
    get:
      tags: [reportes]
      summary: Autonomía de tanques vs. frecuencia real de abastecimiento
      description: Sección 3.8.2.c — ordenado por caso más urgente primero (`enRiesgo` true). Lambda `consulta-reportes`.
      operationId: obtenerReporteAbastecimiento
      x-required-scope: fuelhub-api/cierres.read
      parameters:
        - $ref: '#/components/parameters/EstacionCodigo'
      responses:
        '200':
          description: Reporte de abastecimiento por tanque.
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/ReporteAbastecimientoItem'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
